In [0]:
spark.sql("SELECT * FROM jpm.rakesh_bronze.customer_bronze")

In [0]:
%sql
CREATE OR REPLACE TABLE jpm.Rakesh_Silver.silver_customer AS
SELECT
    cust_id,
    name,
    CAST(age AS INT) AS age,
    gender,
    birthday,
    cast(zip as int) as zip,
    REPLACE(city, '_', ' ') AS city
FROM jpm.rakesh_bronze.customer_bronze;

In [0]:
%sql
CREATE OR REPLACE TABLE jpm.Rakesh_Silver.silver_transaction AS
SELECT DISTINCT
    cust_id,
    start_date,
    end_date,
    txn_id,
    date,
    year,
    month,
    day,
    expense_type,
    CAST(amt AS DECIMAL(10,2)) AS amt,
    REPLACE(city, '_', ' ') AS city
FROM jpm.rakesh_bronze.transaction_bronze;