In [0]:
%sql
select * from jpm.rakesh_bronze.financial_bronze

In [0]:
df=spark.table("jpm.rakesh_bronze.financial_bronze")

In [0]:
%sql
select * from jpm.rakesh_bronze.financial_bronze where units_sold LIKE "%$%"

In [0]:
%sql
UPDATE jpm.rakesh_bronze.financial_bronze
SET units_sold = REPLACE(units_sold, '$', '')
WHERE units_sold LIKE "%$%";

In [0]:
df1=df.dropDuplicates()

In [0]:
from pyspark.sql.functions import regexp_replace, col

# Remove spaces from all string columns
df_cleaned = df1.select([regexp_replace(col(c), r'\s+', '').alias(c) if c != 'units_sold' else col(c) for c in df1.columns])

# Remove $ symbol from 'units_sold' column
df_cleaned = df_cleaned.withColumn('units_sold', regexp_replace(col('units_sold'), r'\$', ''))

display(df_cleaned)

In [0]:
from pyspark.sql.functions import regexp_replace, col

# Remove spaces from all string columns
df_cleaned = df1.select([regexp_replace(col(c), r'\s+', '').alias(c) if c not in ['units_sold', 'manufacturing_price', 'sale_price', 'gross_sales', 'discount', 'sales', 'cogs', 'profit'] else col(c) for c in df1.columns])

# Remove $ symbol and change data type to int for specified columns
columns_to_clean = ['units_sold', 'manufacturing_price', 'sale_price', 'gross_sales', 'discount', 'sales', 'cogs', 'profit']
for column in columns_to_clean:
    df_cleaned = df_cleaned.withColumn(column, regexp_replace(col(column), r'\$', '').cast('double'))

display(df_cleaned)